body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f7f7f7;
}

.app-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.card {
  max-width: 800px;
  width: 100%;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #2b5dab;
}

.search-box {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.search-box input {
  flex: 1;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-box button {
  padding: 0.7rem 1.2rem;

  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.search-box button:hover {
  background: #ddd;
}

.results {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 8px;
}

.results.single {
  background: #565656 ;
  border: 1px solid #cdddf9;
}
.results.multiple {
  background: #565656;
  border: 1px solid #ffe2a8;
}
.results.none {
  color: #666;
}

.results ul {
  padding-left: 1.2rem;
}

.name {
  font-weight: 600;
}
.highlight {
  color: #d97706;
  font-weight: bold;
}

.plan-container {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.plan-container img {
  width: 100%;
  display: block;
}

.marker {
  position: absolute;
  transform: translate(-50%, -100%);
  width: 30px;
  height: 30px;
  background: #2b5dab;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.highlight-marker {
  background: #f59e0b;
  transform: translate(-50%, -100%) scale(1.1);
}

.admin-panel {
  margin-top: 1.5rem;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}

.admin-login {
  display: flex;
  gap: 0.5rem;
}

.admin-login input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.admin-login button {
  padding: 0.5rem 1rem;
  background: #2b5dab;
  color: 2b5dab;
  border: none;
  border-radius: 6px;
}

.admin-inputs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.admin-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}
